@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    margin: 0px;
    padding: 0;
}

/*page one start from here*/
.page-one-main .navbar {
    padding: 8px 0;
}

.page-one-main .navbar img {
    max-width: 150px;
}

.page-one-main .navbar .nav-item .nav-link {
    background: #10539e;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 4px 20px;
}

.form-section {
    margin: 30px 0;
}

.form-section h3.common-header {
    font-weight: 600;
    color: #000;
    font-size: 22px;
    margin-bottom: 30px;
}

.form-section .billing-address {
    margin-bottom: 30px;
}

.form-section .billing-address .billing-fieldset {
    padding: 15px 19px 19px 19px !important;
    border: 1px solid #10539e !important;
    border-radius: 4px;
}

.billing-address legend {
    text-align: left !important;
    color: #10539e;
    margin: 0 auto;
    width: auto;
    float: none;
    font-size: 15px;
    padding: 2px 20px;
    background: #e9ebec;
    border-radius: 4px;
    text-transform: uppercase;
}

.form-section .form-control {
    border-radius: 0;
    font-size: 14px;
}

.form-section .form-control:focus {
    box-shadow: none;
    outline: none;
}

.form-section label {
    text-transform: capitalize;
    font-size: 14px;
}

.form-section h5 {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 17px;
    margin-bottom: 20px;
}

.form-section .form-check-input:focus {
    box-shadow: none;
    outline: none;
}

.billing-address .bnt-addmore {

    height: 25px;
    width: 25px;

    text-align: center;
    padding: 0;

    border-radius: 50%;
    position: absolute;
    right: 21px;
    top: 0;
}

.form-section .signature-box-main {
    margin: 40px 0;
}

.form-section .signature-box-main .form-control {
    border-top: none;
    border-left: none;
    border-right: none;

}

.form-section .step-btn {
    margin: 20px 0;
    text-align: right;
}

.form-section .step-btn .next-btn {
    background: #004797;
    color: #fff;
    text-transform: capitalize;
    font-size: 17px;
    padding: 5px 20px;
    min-width: 125px;
}

.form-section .step-btn .next-btn:focus {
    box-shadow: none;
    outline: none;
}

/*page one end here*/

/*login page start from here*/

.login-layout {
    background: #ECF0F3;
    height: 100vh;

    position: relative;

}

.login-layout .login-flex {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;
    margin: 100px 0;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #D1D9E6;
    align-items: center;

}

.login-layout .login-flex .login-box {
    flex-basis: 50%;
    padding: 0 40px;


}

.login-layout .login-flex .login-box .form-group {
    margin-bottom: 20px;
}

.login-layout .login-flex .login-box .form-control {
    border-radius: 0px;
    font-size: 16px;
}


.login-layout .login-flex .login-box .form-control:focus {
    box-shadow: none;
    outline: none;
}

.login-layout .login-flex .login-box label {
    text-transform: capitalize;
    font-size: 17px;
    color: #004797;
}

.login-layout .login-flex .login-box .login-btn {
    background: #004797;
    color: #fff;
    border-color: #004797;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 0;
    font-size: 17px;
    min-width: 150px;
}

.login-layout .login-flex .login-box .logo-box {
    margin: 30px 0;
    text-align: center;
    margin-top: 0;
}

.login-layout .login-flex .login-content {
    flex-basis: 50%;
    padding: 0 40px;
    background: url("../icon-images/login-bg.png") no-repeat center center;
    background-size: cover;
    min-height: 80vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


}

.billing-fieldset {
    padding: 15px 19px 19px 19px !important;
    border: 1px solid #e9ebec !important;
    border-radius: 4px;
}

/*login page end here*/


/*step-two start from here*/

.steptwo-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #000000;
    padding: 5px 0 0;
}

.steptwo-main .left-box {
    flex-basis: 15%;
    font-size: 14px;
    text-align: justify;
    padding: 5px 15px 0 5px;
}

.steptwo-main .left-box span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
}

.steptwo-main .middle-box {
    flex-basis: 70%;
    text-align: center;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 5px 5px 0;
}

.steptwo-main .right-box {
    flex-basis: 15%;
    font-size: 14px;
    text-align: justify;
    padding: 5px 5px 0 0;
}

.steptwo-main .right-box p {
    border-bottom: 1px solid #000000;
    font-size: 14px;
    text-transform: capitalize;
    padding-left: 15px;
}

.steptwo-main .right-box h3 {
    font-weight: 600;
    font-size: 25px;
    color: #000000;
    padding-left: 15px;
}

.steptwo-main .right-box h3 span {
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.steptwo-main .middle-box h3 {
    font-weight: bold;
    font-size: 25px;
    color: #000000;
    text-transform: capitalize;
}

.steptwo-main .middle-box ul {
    margin-bottom: 0;
}

.steptwo-main .middle-box ul li {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 600;
}

.steptwo-main:nth-child(2) {
    padding-top: 0;
    align-items: unset;
}

.steptwo-main:nth-child(2) .left-box h3.step {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    text-align: left;
}

.steptwo-main:nth-child(2) .middle-box {
    text-align: left;
    flex-basis: 85%;
    border-right: none;
    padding-top: 0;
}

.steptwo-main:nth-child(2) .middle-box .form-control {
    font-size: 15px;
    margin: 10px 0;
}

.steptwo-main:nth-child(2) .middle-box .form-control:focus {
    box-shadow: none;
    outline: none;
}

.border-left-1 {
    border-left: 1px solid #000000;
}

.row-border {
    /*border-top: 1px solid #000000;*/
    position: relative;
}

.row-border::before {
    position: absolute;
    top: 0;
    left: 6px;
    width: calc(100% - 13px);
    height: 1px;
    background: #000000;
    content: '';
}

.steptwo-main:nth-child(2) .middle-box .right-condition {
    font-size: 14px;
}

.steptwo-main:nth-child(2) .middle-box .right-condition span {
    font-weight: bold;
}

.steptwo-main:nth-child(2) .middle-box .form-check {
    margin: 10px 0;
}

.steptwo-main:nth-child(2) .middle-box .form-check span {
    font-weight: 600;
}

.steptwo-main:nth-child(3) .left-box {
    flex-basis: 100%;
    padding: 5px;
}

.steptwo-main:nth-child(3) .left-box span {
    font-size: 15px;
}

.steptwo-main:nth-child(4) {
    padding: 0;
    align-items: unset;
}

.steptwo-main:nth-child(4) .left-box h3.step {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    text-align: left;
}

.steptwo-main:nth-child(4) .middle-box {
    text-align: left;
    flex-basis: 85%;
    border-right: none;

}

.steptwo-main:nth-child(4) .middle-box p {
    margin-bottom: 10px;
}

.steptwo-main:nth-child(4) .middle-box p span {
    font-weight: 600;
}

.steptwo-main:nth-child(4) .middle-box ul li {
    font-weight: unset;
    list-style-type: lower-alpha
}

.steptwo-main:nth-child(4) .middle-box ul li span {
    font-weight: 600;
}

.steptwo-main:nth-child(5) .left-box {
    flex-basis: 100%;
    padding-bottom: 5px;
}

.steptwo-main:nth-child(5) .left-box span {
    font-size: 15px;
}

.steptwo-main:nth-child(6) .left-box h3.step {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    text-align: left;
}

.steptwo-main:nth-child(6) {
    align-items: unset;
    padding-top: 0;
}

.steptwo-main:nth-child(6) .middle-box {
    text-align: left;
}

.steptwo-main:nth-child(6) .right-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0;

}

.steptwo-main:nth-child(6) .right-box .sequence-box {
    width: 50px;
    border-right: 1px solid #000000;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.steptwo-main:nth-child(6) .right-box .sequence-box span {
    position: absolute;
    bottom: 10px;
}

.steptwo-main:nth-child(6) .right-box .total-amount-box {
    flex-basis: calc(100% - 55px);
    position: relative;

}

.steptwo-main:nth-child(6) .right-box .total-amount-box .form-control {
    position: absolute;
    bottom: 10px;
}


.steptwo-main:nth-child(7) .left-box h3.step {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    text-align: left;
}

.steptwo-main:nth-child(7) {
    align-items: unset;
    padding-top: 0;
}

.steptwo-main:nth-child(7) .middle-box {
    text-align: left;
}

.steptwo-main:nth-child(7) .middle-box p span {
    font-weight: 600;
}

.steptwo-main:nth-child(7) .right-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0;

}

.steptwo-main:nth-child(7) .right-box .sequence-box {
    width: 50px;
    border-right: 1px solid #000000;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.steptwo-main:nth-child(7) .right-box .sequence-box span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.steptwo-main:nth-child(7) .right-box .sequence-box .three-quarter {
    width: 100%;
    height: 33.33%;
    position: relative;
    border-bottom: 1px solid #000000;
}

.steptwo-main:nth-child(7) .right-box .sequence-box .three-quarter:last-child {
    border: none;
}

.steptwo-main:nth-child(7) .right-box .total-amount-box .amount-quarter {
    width: 100%;
    height: 33.33%;
    position: relative;
    border-bottom: 1px solid #000000;
}

.steptwo-main:nth-child(7) .right-box .total-amount-box .amount-quarter:last-child {
    border: none;
}

.steptwo-main:nth-child(7) .right-box .total-amount-box {
    flex-basis: calc(100% - 50px);
    position: relative;

}

.steptwo-main:nth-child(7) .right-box .total-amount-box .form-control {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 5px);
    left: 5px;
}
.steptwo-main:nth-child(8){
    align-items: unset;
    padding-top: 0;

}
.steptwo-main:nth-child(8) .left-box h3.step {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    text-align: left;
}
.steptwo-main:nth-child(8) .middle-box{
    flex-basis: 85%;
    border-right: none;
    text-align: left;

}
.steptwo-main:nth-child(9){
    padding-top: 0;
}
.steptwo-main:nth-child(9) .left-box h3.step {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    text-align: left;
}
.steptwo-main:nth-child(9) .middle-box{
    flex-basis: 85%;
    border-right: none;
    text-align: left;
    padding-top: 0;
}
