{% extends 'employee/base.html' %}
{% load static %}
{% block content %}
{% load form_helpers %}

{% if toast_mes %}
<script xmlns="http://www.w3.org/1999/html">swal("{{toast_mes.toast_message}}");</script>
{% endif %}

<section class="page-one-main">
    <nav class="navbar navbar-expand bg-white shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'icon-images/logo-2-1.png'%}" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link">page - 01 </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="form-section">
        <div class="container">

            <form action="" method="post">
                {% csrf_token %}

                <div class="step-2" id="step-2">
                    <div class="steptwo-main">
                        <div class="left-box">
                            From <span>w-4</span> <br>(Rev. December 2020) Department of the Treasury Internal Revenue
                            Service
                        </div>
                        <div class="middle-box">
                            <h3>employee's withholding certificate</h3>
                            <div class="middle-list">
                                <ul>
                                    <li>
                                        Complete Form W-4 so that your employers can withhold the correct federal income
                                        tax from your pay.
                                    </li>
                                    <li>4 Give Form W-4 to your employer.</li>
                                    <li>Your withholding is subject to review by the IRS.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="right-box">
                            <p>OMB No. 1545-0074</p>
                            <h3><span>20</span>21</h3>
                        </div>
                    </div>
                    <div class="steptwo-main">
                        <div class="left-box">
                            <h3 class="step">step: 01 <br> enter personal information</h3>
                        </div>
                        <div class="middle-box">
                            <div class="row">
                                {{ withholding_certificate_form.non_field_errors }}
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    {{ withholding_certificate_form.first_middle_name.errors }}
                                    <div class="form-group">
                                        {{ withholding_certificate_form.first_middle_name }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    {{ withholding_certificate_form.last_name.errors }}
                                    <div class="form-group">
                                        {{ withholding_certificate_form.last_name }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 border-left-1">
                                    {{ withholding_certificate_form.social_security_number.errors }}
                                    <div class="form-group">
                                        {{ withholding_certificate_form.social_security_number }}
                                    </div>
                                </div>
                            </div>
                            <div class="row row-border">
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                    {{ withholding_certificate_form.address.errors }}
                                    <div class="form-group">
                                        {{ withholding_certificate_form.address }}
                                    </div>
                                    {{ withholding_certificate_form.city_town_state_zip.errors }}
                                    <div class="form-group">
                                        {{ withholding_certificate_form.city_town_state_zip }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 border-left-1">
                                    <div class="right-condition">
                                        <span> Does your name match thge name on your social secuirity card?</span> if
                                        not, to ensre you get credit for your earnings,
                                        contact SSA at 800-772-1213 or go to <a href="#">www.ssa.gov</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-border">
                                <div class="col-12">
                                    <div class="form-check">
                                        {{ withholding_certificate_form.is_single_or_married|addcss:'form-check-input' }}
                                        <label class="form-check-label"
                                               for="{{ withholding_certificate_form.is_single_or_married.id_for_label }}">
                                            <span>single</span> or <span>married</span> filling separately
                                        </label>
                                        {{ withholding_certificate_form.is_single_or_married.errors }}
                                    </div>
                                    <div class="form-check">
                                        {{ withholding_certificate_form.is_married_jointly|addcss:'form-check-input' }}
                                        <label class="form-check-label" for="{{ withholding_certificate_form.is_married_jointly.id_for_label }}">
                                            <span>married filling jointly</span> or <span>quality widow(er) </span>
                                        </label>
                                        {{ withholding_certificate_form.is_married_jointly.errors }}
                                    </div>
                                    <div class="form-check">
                                        {{ withholding_certificate_form.is_head_of_household|addcss:'form-check-input' }}
                                        <label class="form-check-label" for="{{ withholding_certificate_form.is_head_of_household.id_for_label }}">
                                            <span>head of household</span> (check only if you're unmarried and pay more
                                            than half the costs of keeping up a home for yourself
                                            and a quality individual.)
                                        </label>
                                        {{ withholding_certificate_form.is_head_of_household.errors }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="steptwo-main">
                        <div class="left-box">
                            <span>Complete Steps 2-4 ONLY if they apply to you; otherwise, skip to Step 5.</span> See
                            page 2 for
                            more information on each step, who can claim exemption from withholding,
                            when to use the estimator at <a href="#">www.irs.gov/W4App</a>, and privacy.
                        </div>
                    </div>
                    <div class="steptwo-main">
                        <div class="left-box">
                            <h3 class="step">Step 2: <br>
                                Multiple Jobs
                                or Spouse
                                Works
                            </h3>
                        </div>
                        <div class="middle-box">
                            <p>Complete this step if you (1) hold more than one job at a time,
                                or (2) are married filing Jointly and your spouse also works.
                                The correct amount of withholding depends on income earned from all of these jobs.</p>
                            <p>Do <span>only one</span> of the following.</p>
                            <ul>
                                <li>Use the estimator at www.irs.gov/W4App for most accurate withholding for this step
                                    (and Steps 3-4); <span>or</span></li>
                                <li>Use the Multiple Jobs Worksheet on page 3 and enter the result in Step 4(c) below
                                    for roughly accurate withholding; <span>or</span></li>
                                <li> If there are only two jobs total, you may check this box. Do the same on Form W-4
                                    for the other job.
                                    This option is accurate for jobs with similar pay; otherwise, more tax than
                                    necessary may be withheld
                                    <div class="form-check">
                                        {{ withholding_certificate_form.is_two_jobs_total|addcss:'form-check-input' }}
                                    </div>
                                    {{ withholding_certificate_form.is_two_jobs_total.errors }}
                                </li>
                            </ul>
                            <p><span>TIP:</span> To be accurate, submit a 2021 Form W-4 for all other jobs.
                                If you (or your spouse) have self-employment income, including as an independent
                                contractor, use the estimator.</p>

                        </div>
                    </div>
                    <div class="steptwo-main">
                        <div class="left-box">
                            <span>Complete Steps 3-4(b) on Form W-4 for only ONE of these jobs.</span> Leave those steps
                            blank for the other jobs.
                            (Your withholding will be most accurate if you complete Steps 3-4(b) on the Form W-4 for the
                            highest paying job.)
                        </div>
                    </div>
                    <div class="steptwo-main">
                        <div class="left-box">
                            <h3 class="step">Step 3: <br>
                                claim dependents
                            </h3>
                        </div>
                        <div class="middle-box">
                            <p>If your total income wil be $200,000 or less ($400,000 or less if married filling
                                jointly):</p>

                            <div class="mb-3 row">
                                <label for="{{ withholding_certificate_form.children_under_age.id_for_label }}" class="col-sm-9 col-form-label">multiply the number of qualifying
                                    children under age 17 by $2,00</label>
                                <div class="col-sm-3">
                                    {{ withholding_certificate_form.children_under_age }}
                                </div>
                                {{ withholding_certificate_form.children_under_age.errors }}
                            </div>
                            <div class="mb-3 row">
                                <label for="" class="col-sm-9 col-form-label">
                                    multiply the number of other dependents by $500</label>
                                <div class="col-sm-3">
                                    {{ withholding_certificate_form.others_dependents }}
                                </div>
                                {{ withholding_certificate_form.others_dependents.errors }}
                            </div>
                            <p> Add the amounts above and enter the total here &nbsp; .................</p>
                        </div>
                        <div class="right-box">
                            <div class="sequence-box">
                                <span>3</span>
                            </div>
                            <div class="total-amount-box">
                                {{ withholding_certificate_form.total }}
                            </div>
                            {{ withholding_certificate_form.total.errors }}
                        </div>
                    </div>
                    <div class="steptwo-main">
                        <div class="left-box">
                            <h3 class="step">Step 4: <br>
                                (optional :) <br>
                                Other adjustments
                            </h3>
                        </div>
                        <div class="middle-box">
                            <p><span> (a)Other income ( not from jobs)  .</span> If you want tax withheld for other
                                income you expect this year that won't
                                have withholding, enter the amount of other income here. This may include interest.
                                dividends, and retirement income ...</p>
                            <p>
                                <span> (b) Deductions.</span> If you expect to claim deductions other than the standard
                                deduction and
                                want to reduce your withholding, use the Deductions Worksheet on page 3 and enter
                                the result here

                            </p>
                            <p><span>(c)</span> Extra withholding. Enter any additional tax you want withheld each pay
                                period . .</p>
                        </div>
                        <div class="right-box">
                            <div class="sequence-box">
                                <div class="three-quarter">
                                    <span>4(a)</span>
                                </div>
                                <div class="three-quarter">
                                    <span>4(b)</span>
                                </div>
                                <div class="three-quarter">
                                    <span>4(c)</span>
                                </div>
                            </div>
                            <div class="total-amount-box">
                                <div class="amount-quarter">
                                    {{ withholding_certificate_form.other_income }}
                                </div>
                                {{ withholding_certificate_form.other_income.errors }}
                                <div class="amount-quarter">
                                    {{ withholding_certificate_form.deductions }}
                                </div>
                                {{ withholding_certificate_form.deductions.errors }}
                                <div class="amount-quarter">
                                    {{ withholding_certificate_form.extra_withholding }}
                                </div>
                                {{ withholding_certificate_form.extra_withholding.errors }}

                            </div>
                        </div>
                    </div>
                    <div class="steptwo-main">
                        <div class="left-box">
                            <h3 class="step">Step 5: <br>
                                Sign Here
                            </h3>
                        </div>
                        <div class="middle-box">
                            <p>Under penalties of perjury, I declare that this certificate, to the best of my knowledge
                                and belief,
                                is true, correct, and complet</p>
                            <div class="row">
                                <div class="colxs-12 col-sm-12 col-md-8 col-lg-8">
                                    <div class="form-group">
                                        {{ withholding_certificate_form.employee_signature_img }}
                                        <label for="{{ withholding_certificate_form.employee_signature_img.id_for_label }}" class="form-label">
                                            Employee’s signature (This form is not valid unless you sign it.)</label>
                                    </div>
                                    {{ withholding_certificate_form.employee_signature_img.errors }}
                                </div>
                                <div class="colxs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        {{ withholding_certificate_form.date }}
                                        <label for="{{ withholding_certificate_form.date.id_for_label }}" class="form-label">
                                            date</label>
                                    </div>
                                    {{ withholding_certificate_form.date.errors }}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="steptwo-main">
                        <div class="left-box">
                            <h3 class="step">
                                Employers Only
                            </h3>
                        </div>
                        <div class="middle-box">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="{{ withholding_certificate_form.employer_name_address.id_for_label }}" class="form-label">
                                            Employer's Name and address</label>
                                        {{ withholding_certificate_form.employer_name_address }}
                                    </div>
                                    {{ withholding_certificate_form.employer_name_address.errors }}
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                    <div class="form-group mb-3">
                                        <label for="{{ withholding_certificate_form.first_date_of_employment.id_for_label }}" class="form-label"> date of employment </label>
                                        {{ withholding_certificate_form.first_date_of_employment }}
                                    </div>
                                    {{ withholding_certificate_form.first_date_of_employment.errors }}
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                    <div class="form-group mb-3">
                                        <label for="{{ withholding_certificate_form.employer_identification_no.id_for_label }}" class="form-label"> employment identification number</label>
                                        {{ withholding_certificate_form.employer_identification_no }}
                                    </div>
                                    {{ withholding_certificate_form.employer_identification_no.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step-btn">
                        <a href="{% url 'index' employee_id %}" class="btn next-btn prev-two" type="">prev</a>
                        <button class="btn next-btn step-1" type="submit">Next</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>

<script>
    function showWarningToasty(message) {
        Toastify({
            text: message,
            duration: 4000,
            close: true,
            backgroundColor: "#0000FF",
        }).showToast();
    }

    // $('.step-one-btn').click(function () {
    //     $('#step-1').addClass('d-none');
    //     $('#step-2').removeClass('d-none');
    // });
    // $('.prev-two').click(function () {
    //     $('#step-1').toggleClass('d-none');
    //     $('#step-2').toggleClass('d-none');
    // });
</script>

{% endblock %}

{% block extra_media %}
{{ withholding_certificate_form.media }}
{% endblock %}