{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if toast_mes %}
<script>swal("{{toast_mes.toast_message}}");</script>
{% endif %}

<section class="page-one-main">
    <nav class="navbar navbar-expand bg-white shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'icon-images/logo-2-1.png'%}" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link">page - 01 </a>
                    </li>
                </ul>

            </div>


        </div>
    </nav>
    <div class="form-section">
        <div class="container">

            <form action="">
                <div class="step-1 d-none" id="step-1">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h3 class="common-header">
                                CONSUMER DIRECTED PERSONAL ASSRISTANT PROGRAM APPLICATION
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="billing-address">
                                <fieldset class="billing-fieldset">
                                    <legend class="rounded">Basic Infromation</legend>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <div class="mb-3">
                                                <label for="" class="form-label">member Name</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter member Name">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <div class="mb-3">
                                                <label for="" class="form-label">medicaid ID</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter medicaid ID">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <div class="mb-3">
                                                <label for="" class="form-label">first date of service</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter first date of service">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <div class="mb-3">
                                                <label for="" class="form-label">PA name</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter PA name">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <div class="mb-3">
                                                <label for="" class="form-label">employee ID</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter employee id">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <div class="mb-3">
                                                <label for="" class="form-label">mobile number</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter mobile no">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <div class="billing-address">
                                <fieldset class="billing-fieldset">
                                    <legend class="rounded">demographics</legend>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <div class="mb-3">
                                                <label for="" class="form-label">last name</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter Your Last Name">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <div class="mb-3">
                                                <label for="" class="form-label">First name</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter Your First Name">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <div class="mb-3">
                                                <label for="" class="form-label">social security number</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter Your social security number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <div class="mb-3">
                                                <label for="" class="form-label">Street address</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter Your Street address">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <div class="mb-3">
                                                <label for="" class="form-label">city/town</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter Your city/town">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <div class="mb-3">
                                                <label for="" class="form-label">state zip code</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter state zip code">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="mb-">
                                                <label for="" class="form-label">home phone number</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter Your home phone number">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="mb-">
                                                <label for="" class="form-label">cell phone number</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter cell phone number">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="billing-address">
                                <fieldset class="billing-fieldset">
                                    <legend class="rounded">education</legend>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="mb-3">
                                                <label for="" class="form-label">high school name</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter high school name">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="mb-3">
                                                <label for="" class="form-label">City,State</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter City,State">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="mb-">
                                                <label for="" class="form-label">college</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter college">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="mb-">
                                                <label for="" class="form-label">City,State</label>
                                                <input type="text" class="form-control" id=""
                                                       placeholder="Enter City,State">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="billing-address">
                                <fieldset class="billing-fieldset">
                                    <legend class="rounded">hours available</legend>
                                    <div class="mb-3">
                                        <h5>time</h5>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                day
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                night
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                live-in
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <h5>days</h5>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                monday
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                tuesday
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                wednesday
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                thursday
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                friday
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                saturday
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                sunday
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="billing-address">
                                <fieldset class="billing-fieldset position-relative">
                                    <legend class="rounded">professional training</legend>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

                                            <label for="" class="form-label">name of school, city,state</label>
                                            <input type="text" class="form-control" id=""
                                                   placeholder=" Enter name of school, city,state">
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

                                            <label for="" class="form-label">entrance date (MM/YY)</label>
                                            <input type="date" class="form-control" id="" placeholder=" Enter ">
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

                                            <label for="" class="form-label">graduate (Y/N)</label>
                                            <input type="text" class="form-control" id=""
                                                   placeholder=" Enter graduate (Y/N)">
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

                                            <label for="" class="form-label">certificate / degree</label>
                                            <input type="text" class="form-control" id=""
                                                   placeholder=" Enter certificate / degree">
                                        </div>
                                    </div>
                                    <button class="btn bnt-addmore">
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </button>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="billing-address">
                                <fieldset class="billing-fieldset">
                                    <legend class="rounded">SKILLS CHECKLIST</legend>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    home care
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    dental care
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    non-steril dressing
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Orthopedics
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Special Diets
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Range of Motion
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Vital Signs
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Diabetes Care
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Kosher Cooking
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Transfer Techniques
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Urine Testing
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Patient Teaching
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Household Maintenance
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Hoyer Lift
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Geriatrics
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    others
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Laundry
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Foyer Lift
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Child Care
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    other
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Bed Bath
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    ostomy Care
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Newborn Care
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    other
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="billing-address">
                                <fieldset class="billing-fieldset">
                                    <legend class="rounded">transportaion (Convenient Transportation to Assignment)
                                    </legend>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  mb-3">
                                            <label class="form-check-label me-3" for="">Bus/Train/Car</label>
                                            <div class="form-check form-check-inline">

                                                <input class="form-check-input" type="checkbox" id="" value="option1">
                                                <label class="form-check-label" for="">yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id=" " value="option2">
                                                <label class="form-check-label" for=" ">no</label>
                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mb-3">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <label class="form-check-label me-3" for="">valid licenses</label>
                                            <div class="form-check form-check-inline">

                                                <input class="form-check-input" type="checkbox" id="" value="option1">
                                                <label class="form-check-label" for="">yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id=" " value="option2">
                                                <label class="form-check-label" for=" ">no</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                            <input type="text" class="form-control">
                                        </div>

                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="form-check-label me-3" for="">Do you give permission for a criminal background
                                screen to be conducted by the consumers:</label>
                            <div class="form-check form-check-inline">

                                <input class="form-check-input" type="checkbox" id="" value="option1">
                                <label class="form-check-label" for="">yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id=" " value="option2">
                                <label class="form-check-label" for=" ">no</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <label class="form-check-label me-3" for="">I have received the Personal Assistant Guide to
                                the Consumer Directed Personal Assistance Programs:</label>
                            <div class="form-check form-check-inline">

                                <input class="form-check-input" type="checkbox" id="" value="option1">
                                <label class="form-check-label" for="">yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id=" " value="option2">
                                <label class="form-check-label" for=" ">no</label>
                            </div>
                        </div>
                    </div>
                    <div class="signature-box-main">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <input type="text" class="form-control">
                                <label for="" class="form-label">printed name</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <input type="text" class="form-control">
                                <label for="" class="form-label">signature</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <input type="text" class="form-control">
                                <label for="" class="form-label">date</label>
                            </div>
                        </div>
                    </div>
                    <div class="step-btn">
                        <a href="javascript:void(0)" class="btn next-btn step-1">next</a>
                    </div>
                </div>

                <div class="step-2 " id="step2">
                    <div class="steptwo-main">
                        <div class="left-box">
                            From <span>w-4</span> <br>(Rev. December 2020) Department of the Treasury Internal Revenue
                            Service
                        </div>
                        <div class="middle-box">
                            <h3>employee's withholding certificate</h3>
                            <div class="middle-list">
                                <ul>
                                    <li>
                                        Complete Form W-4 so that your employers can withhold the correct federal income
                                        tax from your pay.
                                    </li>
                                    <li>4 Give Form W-4 to your employer.</li>
                                    <li>Your withholding is subject to review by the IRS.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="right-box">
                            <p>OMB No. 1545-0074</p>
                            <h3><span>20</span>21</h3>
                        </div>
                    </div>
                    <div class="steptwo-main">
                        <div class="left-box">
                            <h3 class="step">step: 01 <br> enter personal information</h3>
                        </div>
                        <div class="middle-box">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                               placeholder="Enter First name and middle initial">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Last name">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 border-left-1">
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                               placeholder="Enter your social security number">
                                    </div>
                                </div>
                            </div>
                            <div class="row row-border">
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter your Address">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                               placeholder="Enter your City or Town, State, Zip Code">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 border-left-1">
                                    <div class="right-condition">
                                        <span> Does your name match thge name on your social secuirity card?</span> if
                                        not, to ensre you get credit for your earnings,
                                        contact SSA at 800-772-1213 or go to <a href="#">www.ssa.gov</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-border">
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="">
                                        <label class="form-check-label" for="">
                                            <span>single</span> or <span>married</span> filling separately
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="">
                                        <label class="form-check-label" for="">
                                            <span>married filling jointly</span> or <span>quality widow(er) </span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="">
                                        <label class="form-check-label" for="">
                                            <span>head of household</span> (check only if you're unmarried and pay more
                                            than half the costs of keeping up a home for yourself
                                            and a quality individual.)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="steptwo-main">
                        <div class="left-box">
                            <span>Complete Steps 2-4 ONLY if they apply to you; otherwise, skip to Step 5.</span> See
                            page 2 for
                            more information on each step, who can claim exemption from withholding,
                            when to use the estimator at <a href="#">www.irs.gov/W4App</a>, and privacy.
                        </div>
                    </div>
                    <div class="steptwo-main">
                        <div class="left-box">
                            <h3 class="step">Step 2: <br>
                                Multiple Jobs
                                or Spouse
                                Works
                            </h3>
                        </div>
                        <div class="middle-box">
                            <p>Complete this step if you (1) hold more than one job at a time,
                                or (2) are married filing Jointly and your spouse also works.
                                The correct amount of withholding depends on income earned from all of these jobs.</p>
                            <p>Do <span>only one</span> of the following.</p>
                            <ul>
                                <li>Use the estimator at www.irs.gov/W4App for most accurate withholding for this step
                                    (and Steps 3-4); <span>or</span></li>
                                <li>Use the Multiple Jobs Worksheet on page 3 and enter the result in Step 4(c) below
                                    for roughly accurate withholding; <span>or</span></li>
                                <li> If there are only two jobs total, you may check this box. Do the same on Form W-4
                                    for the other job.
                                    This option is accurate for jobs with similar pay; otherwise, more tax than
                                    necessary may be withheld
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                                    </div>
                                </li>
                            </ul>
                            <p><span>TIP:</span> To be accurate, submit a 2021 Form W-4 for all other jobs.
                                If you (or your spouse) have self-employment income, including as an independent
                                contractor, use the estimator.</p>

                        </div>
                    </div>
                    <div class="steptwo-main">
                        <div class="left-box">
                            <span>Complete Steps 3-4(b) on Form W-4 for only ONE of these jobs.</span> Leave those steps
                            blank for the other jobs.
                            (Your withholding will be most accurate if you complete Steps 3-4(b) on the Form W-4 for the
                            highest paying job.)
                        </div>
                    </div>
                    <div class="steptwo-main">
                        <div class="left-box">
                            <h3 class="step">Step 3: <br>
                                claim dependents
                            </h3>
                        </div>
                        <div class="middle-box">
                            <p>If your total income wil be $200,000 or less ($400,000 or less if married filling
                                jointly):</p>

                            <div class="mb-3 row">
                                <label for="" class="col-sm-9 col-form-label">multiply the number of quality
                                    children under age 17 by $2,00</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="" value="" placeholder="$">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="" class="col-sm-9 col-form-label">
                                    multiply the number of other dependents by $500</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="" value="" placeholder="$">
                                </div>
                            </div>
                            <p> Add the amounts above and enter the total here &nbsp; .................</p>
                        </div>
                        <div class="right-box">
                            <div class="sequence-box">
                                <span>3</span>
                            </div>
                            <div class="total-amount-box">
                                <input type="text" class="form-control" id="" value="" placeholder="$">
                            </div>
                        </div>
                    </div>
                    <div class="steptwo-main">
                        <div class="left-box">
                            <h3 class="step">Step 4: <br>
                                (optional :) <br>
                                Other adjustments
                            </h3>
                        </div>
                        <div class="middle-box">
                            <p><span> (a)Other income ( not from jobs)  .</span> If you want tax withheld for other
                                income you expect this year that won't
                                have withholding, enter the amount of other income here. This may include interest.
                                dividends, and retirement income ...</p>
                            <p>
                                <span> (b) Deductions.</span> If you expect to claim deductions other than the standard
                                deduction and
                                want to reduce your withholding, use the Deductions Worksheet on page 3 and enter
                                the result here

                            </p>
                            <p><span>(c)</span> Extra withholding. Enter any additional tax you want withheld each pay
                                period . .</p>
                        </div>
                        <div class="right-box">
                            <div class="sequence-box">
                                <div class="three-quarter">
                                    <span>4(a)</span>
                                </div>
                                <div class="three-quarter">
                                    <span>4(b)</span>
                                </div>
                                <div class="three-quarter">
                                    <span>4(c)</span>
                                </div>
                            </div>
                            <div class="total-amount-box">
                                <div class="amount-quarter">
                                    <input type="text" class="form-control" id="" value="" placeholder="$">
                                </div>
                                <div class="amount-quarter">
                                    <input type="text" class="form-control" id="" value="" placeholder="$">
                                </div>
                                <div class="amount-quarter">
                                    <input type="text" class="form-control" id="" value="" placeholder="$">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="steptwo-main">
                        <div class="left-box">
                            <h3 class="step">Step 5: <br>
                                Sign Here
                            </h3>
                        </div>
                        <div class="middle-box">
                            <p>Under penalties of perjury, I declare that this certificate, to the best of my knowledge
                                and belief,
                                is true, correct, and complet</p>
                            <div class="row">
                                <div class="colxs-12 col-sm-12 col-md-8 col-lg-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="" value=""
                                               placeholder=" Employee’s signature ">
                                        <label for="" class="form-label">
                                            Employee’s signature (This form is not valid unless you sign it.)</label>
                                    </div>
                                </div>
                                <div class="colxs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <input type="date" class="form-control" id="" value="" placeholder="">
                                        <label for="" class="form-label">
                                            date</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="steptwo-main">
                        <div class="left-box">
                            <h3 class="step">
                                Employers Only
                            </h3>
                        </div>
                        <div class="middle-box">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="" class="form-label">
                                            Employeer's Namde and address</label>
                                        <input type="text" class="form-control" id="" value="" placeholder="Employeer's Namde and address">

                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                      <div class="form-group mb-3">
                                        <label for="" class="form-label"> date of employeement </label>
                                        <input type="date" class="form-control" id="" value="" placeholder="">

                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                       <div class="form-group mb-3">
                                        <label for="" class="form-label"> employeement identification number</label>
                                        <input type="date" class="form-control" id="" value="" placeholder="employeement identification number (EIN)">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    function showWarningToasty(message) {
        Toastify({
            text: message,
            duration: 4000,
            close: true,
            backgroundColor: "#0000FF",
        }).showToast();
    }

    $('.step-1').click(function () {
        $('#step-1').addClass('d-none');
    });
</script>

{% endblock %}

{% block extra_media %}
{{ form.media }}
{% endblock %}