{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if toast_mes %}
<script>swal("{{toast_mes.toast_message}}");</script>
{% endif %}

<section class="page-one-main">
    <nav class="navbar navbar-expand bg-white shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'icon-images/logo-2-1.png'%}" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link">page - 01 </a>
                    </li>
                </ul>

            </div>


        </div>
    </nav>
    <div class="form-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="common-header">
                        CONSUMER DIRECTED PERSONAL ASSRISTANT PROGRAM APPLICATION
                    </h3>
                </div>
            </div>
            <form action="">
                <div class="row">
                    <div class="col-12">
                        <div class="billing-address">
                            <fieldset class="billing-fieldset">
                                <legend class="rounded">Basic Infromation</legend>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="mb-3">
                                            <label for="" class="form-label">member Name</label>
                                            <input type="text" class="form-control" id=""
                                                placeholder="Enter member Name">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="mb-3">
                                            <label for="" class="form-label">medicaid ID</label>
                                            <input type="text" class="form-control" id=""
                                                placeholder="Enter medicaid ID">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="mb-3">
                                            <label for="" class="form-label">first date of service</label>
                                            <input type="text" class="form-control" id=""
                                                placeholder="Enter first date of service">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="mb-3">
                                            <label for="" class="form-label">PA name</label>
                                            <input type="text" class="form-control" id=""
                                                placeholder="Enter PA name">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="mb-3">
                                            <label for="" class="form-label">employee ID</label>
                                            <input type="text" class="form-control" id=""
                                                placeholder="Enter employee id">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="mb-3">
                                            <label for="" class="form-label">mobile number</label>
                                            <input type="text" class="form-control" id=""
                                                placeholder="Enter mobile no">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <div class="billing-address">
                            <fieldset class="billing-fieldset">
                                <legend class="rounded">demographics</legend>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="mb-3">
                                            <label for="" class="form-label">last name</label>
                                            <input type="text" class="form-control" id=""
                                                placeholder="Enter Your Last Name">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="mb-3">
                                            <label for="" class="form-label">First name</label>
                                            <input type="text" class="form-control" id=""
                                                placeholder="Enter Your First Name">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="mb-3">
                                            <label for="" class="form-label">social security number</label>
                                            <input type="text" class="form-control" id=""
                                                placeholder="Enter Your social security number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="mb-3">
                                            <label for="" class="form-label">Street address</label>
                                            <input type="text" class="form-control" id=""
                                                placeholder="Enter Your Street address">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="mb-3">
                                            <label for="" class="form-label">city/town</label>
                                            <input type="text" class="form-control" id=""
                                                placeholder="Enter Your city/town">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="mb-3">
                                            <label for="" class="form-label">state zip code</label>
                                            <input type="text" class="form-control" id=""
                                                placeholder="Enter state zip code">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="mb-">
                                            <label for="" class="form-label">home phone number</label>
                                            <input type="text" class="form-control" id=""
                                                placeholder="Enter Your home phone number">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="mb-">
                                            <label for="" class="form-label">cell phone number</label>
                                            <input type="text" class="form-control" id=""
                                                placeholder="Enter cell phone number">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="billing-address">
                            <fieldset class="billing-fieldset">
                                <legend class="rounded">education</legend>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="mb-3">
                                            <label for="" class="form-label">high school name</label>
                                            <input type="text" class="form-control" id=""
                                                placeholder="Enter high school name">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="mb-3">
                                            <label for="" class="form-label">City,State</label>
                                            <input type="text" class="form-control" id=""
                                                placeholder="Enter City,State">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="mb-">
                                            <label for="" class="form-label">college</label>
                                            <input type="text" class="form-control" id="" placeholder="Enter college">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="mb-">
                                            <label for="" class="form-label">City,State</label>
                                            <input type="text" class="form-control" id=""
                                                placeholder="Enter City,State">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="billing-address">
                            <fieldset class="billing-fieldset">
                                <legend class="rounded">hours available</legend>
                                <div class="mb-3">
                                    <h5>time</h5>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="">
                                        <label class="form-check-label" for="">
                                            day
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="">
                                        <label class="form-check-label" for="">
                                            night
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="">
                                        <label class="form-check-label" for="">
                                            live-in
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <h5>days</h5>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="">
                                        <label class="form-check-label" for="">
                                            monday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="">
                                        <label class="form-check-label" for="">
                                            tuesday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="">
                                        <label class="form-check-label" for="">
                                            wednesday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="">
                                        <label class="form-check-label" for="">
                                            thursday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="">
                                        <label class="form-check-label" for="">
                                            friday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="">
                                        <label class="form-check-label" for="">
                                            saturday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="">
                                        <label class="form-check-label" for="">
                                            sunday
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="billing-address">
                            <fieldset class="billing-fieldset position-relative">
                                <legend class="rounded">professional training</legend>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

                                        <label for="" class="form-label">name of school, city,state</label>
                                        <input type="text" class="form-control" id=""
                                            placeholder=" Enter name of school, city,state">
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

                                        <label for="" class="form-label">entrance date (MM/YY)</label>
                                        <input type="date" class="form-control" id="" placeholder=" Enter ">
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

                                        <label for="" class="form-label">graduate (Y/N)</label>
                                        <input type="text" class="form-control" id=""
                                            placeholder=" Enter graduate (Y/N)">
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

                                        <label for="" class="form-label">certificate / degree</label>
                                        <input type="text" class="form-control" id=""
                                            placeholder=" Enter certificate / degree">
                                    </div>
                                </div>
                                <button class="btn bnt-addmore">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </button>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="billing-address">
                            <fieldset class="billing-fieldset">
                                <legend class="rounded">SKILLS CHECKLIST</legend>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                home care
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                dental care
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                non-steril dressing
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                Orthopedics
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                Special Diets 
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                Range of Motion
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                Vital Signs
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                Diabetes Care
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                Kosher Cooking
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                Transfer Techniques
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                Urine Testing
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                Patient Teaching
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                Household Maintenance
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                              Hoyer Lift
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                Geriatrics 
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                               others
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                Laundry
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                Foyer Lift
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                Child Care
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                other
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                Bed Bath 
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                ostomy Care
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                                Newborn Care
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="">
                                            <label class="form-check-label" for="">
                                               other
                                            </label>
                                        </div>
                                    </div>
                                     
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="billing-address">
                            <fieldset class="billing-fieldset">
                                <legend class="rounded">transportaion (Convenient Transportation to Assignment)</legend>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  mb-3">
                                        <label class="form-check-label me-3" for="">Bus/Train/Car</label>
                                        <div class="form-check form-check-inline">
                                            
                                            <input class="form-check-input" type="checkbox" id="" value="option1">
                                            <label class="form-check-label" for="">yes</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id=" " value="option2">
                                            <label class="form-check-label" for=" ">no</label>
                                          </div>
                                          
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mb-3">
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <label class="form-check-label me-3" for="">valid licenses</label>
                                        <div class="form-check form-check-inline">
                                            
                                            <input class="form-check-input" type="checkbox" id="" value="option1">
                                            <label class="form-check-label" for="">yes</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id=" " value="option2">
                                            <label class="form-check-label" for=" ">no</label>
                                          </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                        <input type="text" class="form-control">
                                    </div>
                                   
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label class="form-check-label me-3" for="">Do you give permission for a criminal background screen to be conducted by the consumers:</label>
                        <div class="form-check form-check-inline">
                            
                            <input class="form-check-input" type="checkbox" id="" value="option1">
                            <label class="form-check-label" for="">yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id=" " value="option2">
                            <label class="form-check-label" for=" ">no</label>
                          </div>
                    </div>
                    <div class="col-12">
                        <label class="form-check-label me-3" for="">I have received the Personal Assistant Guide to the Consumer Directed Personal Assistance Programs:</label>
                        <div class="form-check form-check-inline">
                            
                            <input class="form-check-input" type="checkbox" id="" value="option1">
                            <label class="form-check-label" for="">yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id=" " value="option2">
                            <label class="form-check-label" for=" ">no</label>
                          </div>
                    </div>
                </div>
                <div class="signature-box-main">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <input type="text" class="form-control">
                            <label for="" class="form-label">printed name</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <input type="text" class="form-control">
                            <label for="" class="form-label">signature</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <input type="text" class="form-control">
                            <label for="" class="form-label">date</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    function showWarningToasty(message) {
        Toastify({
            text: message,
            duration: 4000,
            close: true,
            backgroundColor: "#0000FF",
        }).showToast();
    }


</script>

{% endblock %}